table{
    border-collapse: collapse;
    border: 2px solid rgb(161, 5, 140);
    text-align: center;
    height: 300px;
    width: 500px;
    margin: 0 auto;
}
table>tr{
    padding: 100px ;
}
.hang1{
    background-color: rgb(119, 9, 119);
    color: white;
}
.hang2{
    background-color: rgba(205, 138, 231, 0.808);
}
.red{
    color: red;
}